<a href="https://colab.research.google.com/github/Arvind-Khoda/ML_Project/blob/main/FRS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
#Importing Required Libraries
import pandas as pd
import numpy as np

In [77]:
#Importing Dataset
data=pd.read_csv('indian_food.csv')
Data=data.copy(deep=False)

In [78]:
#Dataset Information
data.info()
Data.set_index('name',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [79]:
#Data Preprocessing
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

for col in Data.columns: 
    if (Data[col].dtype!='int64'):
       Data[col]=encoder.fit_transform(Data[col])

In [80]:
Data

,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
name,,,,,,,,
Balu shahi,122,1,45,25,4,0,24,2
Boondi,100,1,80,30,4,0,18,6
Gajar ka halwa,35,1,15,60,4,0,17,3
Ghevar,95,1,15,30,4,0,18,6
Gulab jamun,129,1,15,40,4,0,24,2
...,...,...,...,...,...,...,...,...
Til Pitha,98,1,5,30,4,0,2,4
Bebinca,68,1,20,60,4,0,5,6
Shufta,79,1,-1,-1,4,0,8,3
Mawa Bati,128,1,20,45,4,0,11,1
Pinaca,31,1,-1,-1,4,0,5,6

In [81]:
#Building Recommedation System
from sklearn.metrics.pairwise import cosine_similarity    
similar_score=cosine_similarity(Data)  
name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region=[],[],[],[],[],[],[],[],[]

In [82]:
#Function to get similar food item
def recommend(dish_name):
 index=np.where(Data.index==dish_name)[0][0]
 list_similar=sorted(list(enumerate(similar_score[index])),key=lambda x:x[1],reverse=True)[1:6]

 for i in list_similar:
     name.append(list(data.name[data.name==Data.index[i[0]]]))
     ingredients.append(list(data.ingredients[data.name==Data.index[i[0]]]))
     diet.append(list(data.diet[data.name==Data.index[i[0]]]))
     prep_time.append(list(data.prep_time[data.name==Data.index[i[0]]]))
     cook_time.append(list(data.cook_time[data.name==Data.index[i[0]]]))
     flavor_profile.append(list(data.flavor_profile[data.name==Data.index[i[0]]]))
     course.append(list(data.course[data.name==Data.index[i[0]]]))
     state.append(list(data.state[data.name==Data.index[i[0]]]))
     region.append(list(data.region[data.name==Data.index[i[0]]]))

In [85]:
recommend('Gulab jamun')

In [86]:
similar_data=pd.DataFrame(zip(name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region))

In [87]:
similar_data

,0,1,2,3,4,5,6,7,8
0,[Rongi],"[Garam masala powder, tomato, kasuri methi, ci...",[vegetarian],[10],[30],[-1],[main course],[Punjab],[North]
1,[Kofta],"[Paneer, potato, cream, corn flour, garam masala]",[vegetarian],[20],[40],[spicy],[main course],[Uttar Pradesh],[North]
2,[Ghevar],"[Flour, ghee, kewra, milk, clarified butter, s...",[vegetarian],[15],[30],[sweet],[dessert],[Rajasthan],[West]
3,[Chicken Varuval],"[Meat curry powder, chicken chunks, ginger, to...",[non vegetarian],[10],[35],[spicy],[main course],[Tamil Nadu],[South]
4,[Petha],"[Firm white pumpkin, sugar, kitchen lime, alum...",[vegetarian],[10],[30],[sweet],[dessert],[Uttar Pradesh],[North]

In [62]:
data.columns

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

Recommendation System on the basis of taste,diet,course

In [88]:
TDC=data[['name','course', 'diet','flavor_profile','prep_time', 'cook_time']]
TDC.set_index('name',inplace=True)

In [89]:
from numpy.lib.twodim_base import triu_indices
from pandas.core.generic import TimedeltaConvertibleTypes
#Data Preprocessing
for col in TDC.columns:
  TDC[col]=encoder.fit_transform(TDC[col])

<ipython-input-89-b5d3080c2d81>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TDC[col]=encoder.fit_transform(TDC[col])

In [90]:
#Building Recommedation System
from sklearn.metrics.pairwise import cosine_similarity    
similar_score=cosine_similarity(TDC)  
name,diet,prep_time,cook_time,flavor_profile,course=[],[],[],[],[],[]

In [91]:
TDC.columns

Index(['course', 'diet', 'flavor_profile', 'prep_time', 'cook_time'], dtype='object')

In [92]:
#Function to get similar food item
def recommend(dish_name):
 name,diet,prep_time,cook_time,flavor_profile,course=[],[],[],[],[],[]
 index=np.where(Data.index==dish_name)[0][0]
 list_similar=sorted(list(enumerate(similar_score[index])),key=lambda x:x[1],reverse=True)[1:6]

 for i in list_similar:
     name.append(list(data.name[data.name==Data.index[i[0]]]))
     ingredients.append(list(data.ingredients[data.name==Data.index[i[0]]]))
     diet.append(list(data.diet[data.name==Data.index[i[0]]]))
     prep_time.append(list(data.prep_time[data.name==Data.index[i[0]]]))
     cook_time.append(list(data.cook_time[data.name==Data.index[i[0]]]))
     flavor_profile.append(list(data.flavor_profile[data.name==Data.index[i[0]]]))
     course.append(list(data.course[data.name==Data.index[i[0]]]))

 return(name,diet,prep_time,cook_time,flavor_profile,course)

In [93]:
dish_name=input(" Enter your dish name")
name,diet,prep_time,cook_time,flavor_profile,course=recommend(dish_name)

 Enter your dish nameGulab jamun

In [94]:
similar_data=pd.DataFrame(zip(name,diet,prep_time,cook_time,flavor_profile,course))
similar_data

                0             1     2     3        4          5
0         [Pithe]  [vegetarian]  [15]  [35]  [sweet]  [dessert]
1     [Mawa Bati]  [vegetarian]  [20]  [45]  [sweet]  [dessert]
2  [Churma Ladoo]  [vegetarian]  [12]  [40]  [sweet]  [dessert]
3        [Ghevar]  [vegetarian]  [15]  [30]  [sweet]  [dessert]
4      [Mihidana]  [vegetarian]  [15]  [30]  [sweet]  [dessert]